<footer>

  <div class="copyright">
    <div class="footer-container">
      <div class="col-md-6">
        <p>© 2017 - All Rights with The-Show-CS290-Final-Project-Team</p>
      </div>
    </div>
  </div>

</footer>
