<header>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="#home">About</a></li>
      <li class="navitem navlink"><a href="#menu">Tracker</a></li>
      <li class="navitem navlink"><a href="#tracker">Menu</a></li>
      <li class="navitem navlink"><a href="#about">Home</a></li>
    </ul>
  </nav>

</header>
