<header>

  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top">
    <a class="navbar-brand" href="home">The-Show Restaraunt</a>
      <ul class="navbar-nav navbar-toggler-right">
        <li class="nav-item active"><a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link" href="menu">Menu</a></li>
        <li class="nav-item"><a class="nav-link" href="tracker">Tracker</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">About us</a></li>
      </ul>
    </div>
  </nav>

</header>
