<header>
  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink"><a href="#home">Home</a></li>
      <li class="navitem navlink"><a href="#menu">Menu</a></li>
      <li class="navitem navlink"><a href="#tracker">Tracker</a></li>
      <li class="navitem navlink"><a href="#about">About</a></li>
    </ul>
  </nav>
</header>
