<section class='menu-card'>

  <div class='img-container'>
    <img class='menu-image' src="{{url}}" />
  </div>

  <div class='menu-info'>
    <p class='name'>
      {{name}}
    </p>
    <p class='price'>
      {{price}}
    </p>
  </div>

</section>
