<section class='menu-card'>

  <div class='img-container'>
    <img class='menu-image' src='{{id}}' />
  </div>

  <div class='menu-info'>
    <i class='name'>
      {{name}}
    </i>
    <i class='price'>
      {{price}}
    </i>
  </div>
  
</section>
