<section class='menu-container'>
  <div class='image-container'>
    <img class='image' src='./public/pic/' + {{id}} />
  </div>
  <div class='menu-info'>
    <i class='name'>
      {{name}}
    </i>
    <i class='price'>
      {{price}}
    </i>
  </div>
</section>
