<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>The Show</title>

    <!-- Font for the page -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">

    <!-- css for the page -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"  media="screen">

  </head>

  <body>

    {{{body}}}

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/index.js"></script>

</html>
