<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>The Show</title>

    <!-- Font for the page -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">

    <!-- css for the page -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css"  media="screen">

    {{>header}}

  </head>

  <body>

    {{{body}}}

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="js/index.js"></script>

  <footer>

    {{>footer}}

  </footer>


</html>
