<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>The Show</title>

    <!-- Font for the page -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">

    <link rel="stylesheet" href="/style.css" media="screen">

  </head>

  <body>

    {{{body}}}

  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script src="/index.js"></script>

</html>
