<head>

  {{>header}}

</head>

<body>

  <div id="foodCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#foodCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#foodCarousel" data-slide-to="1"></li>
      <li data-target="#foodCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
          <img src="http://i.imgur.com/WTB3i7F.jpg" class="img-fluid" alt="First slide">
        <div class="body-text hidden-xs">
          <div class="col-md-12 text-center">
            <h2>Welcome to the-Show Restaraunt</h2>
            <br>
            <h3>Starving?</h3>
            <br>
            <div class="">
              <a class="Button orderButton" href="menu">Order Now !</a>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
          <img src="http://i.imgur.com/OPGurvr.jpg" class="img-fluid" alt="Second slide">
        <div class="body-text hidden-xs">
          <div class="col-md-12 text-center">
            <h2>Welcome to the-Show Restaraunt</h2>
            <br>
            <h3>Feeling lucky?</h3>
            <br>
            <div class="">
              <a class="Button orderButton" href="menu">Order Now !</a>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
          <img src="http://i.imgur.com/vJcIqhg.jpg" class="img-fluid" alt="Third slide">
        <div class="body-text hidden-xs">
          <div class="col-md-12 text-center">
            <h2>Welcome to the-Show Restaraunt</h2>
            <br>
            <h3>Feeling lucky?</h3>
            <br>
            <div class="">
              <a class="Button orderButton" href="menu">Order Now !</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#foodCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#foodCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <div id="page-content" class="index-page">
    <div id="services"></div>
  		<section class="box-content box-1">
  			<div class="container">
  				<div class="row">
            <div class="col-sm-4 ">
  						<div class="service">
  							<a href="#"><img src="pics/icon1.png" title="icon-name"></a>
  							<h3>Story</h3>
  							<p>Six years ago, Xiuyu left China to attend college at Oregon State University. Now he owns a business in Corvallis. The Show,
                   offers quick service and real Chinese food, such as Chinese crepes and other options.
                </p>
  							<a class="readmoreButton" href="http://www.gazettetimes.com/business/the-show-offers-quick-real-chinese-food/article_07de4fb7-9ddd-5b40-84d8-0ec304bded6b.html">Read More</a>
  						</div>
  			 		</div>
  			 		<div class="col-sm-4 ">
  						<div class="service">
  							<a href="#"><img src="pics/icon3.png" title="icon-name"></a>
  							<h3>Location</h3>
  							<p>The Show restaraunt locate in the middle of Corvallis and its pretty close to the Oregon State Univeristy. College students can take No.R3 bus to get there.
                  1915 NW 9th St.</p>
  							<a class="readmoreButton" href="https://www.google.com/maps/place/TheShow/@44.5868144,-123.2576412,17z/data=!3m1!4b1!4m5!3m4!1s0x54c0407f0fe0a021:0xa3a40f59b1f0697a!8m2!3d44.5868144!4d-123.2554525">Get Directions</a>
  						</div>
  			 		</div>
  			 		<div class="col-sm-4 ">
  						<div class="service">
  							<a href="#"><img src="pics/icon2.png" title="icon-name"></a>
  							<h3>Food</h3>
  							<p>We can offer about over 40 different dishes to satisfy your need. We import ingredients from portland every week. Our cheif has enough credebility and experiences to guarantee each dishes' quality.</p>
  							<a class="readmoreButton" href="#">Read More</a>
  						</div>
  			 		</div>
  				</div>
  			</div>
  		</section>

      <section class="box-content box-3" id="staff">
        <div class="container">
          <div class="row heading">
            <div class="col-lg-12">
                        <h2>SUPER CHEF</h2>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut</br> laoreet dolore magna aliquam erat volutpat.
              Ut wisi enim ad.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut .</div>
                    </div>
          </div>
          <div class="row center">
            <div class="col-md-6">
              <div class="wrap-img">
                <img src="pics/boss.jpg">
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <h3>Nibh congue scripserit ne mel</h3>
                <p>Nibh congue scripserit ne mel, pri ne amet mnesarchum. Dicat maiestat per modo simul signiferumque te. Dolore intellegat eu cum, ut est Nostro eloquentiam interpretaris vel id. Minim consequuntur et eam, nonumy equidem pri. Vide virtute ocurreret per in antiopam.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
</body>

<footer>
  <div class="wrap-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-footer footer-1">
          <div class="footer-heading"><h4>About</h4></div>
          <div class="content">
            <div class="row">
              <div class="col-md-6">
                <a href="#"><img src="pics/about2.jpg" /></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</footer>

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - All Rights with The-Show-CS290-Final-Project-Team</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">TheShow.com</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="menu">Menu</a></li>
        <li><a href="tracker">Tracker</a></li>
        <li><a href="#">About us</a></li>
      </ul>
    </div>
  </div>
</div>
