<head>

  {{>header}}

</head>

<body>

  <div id="foodCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#foodCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#foodCarousel" data-slide-to="1"></li>
      <li data-target="#foodCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
          <img src="http://i.imgur.com/WTB3i7F.jpg" class="d-block img-fluid" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <div class="body-text">
                <h2>Welcome to the-Show Restaraunt !</h2>
              </div>
              <br>
              <h3>Starving?</h3>
              <br>
                <a class="Button orderButton" href="menu">Order Now !</a>
            </div>
        </div>


      <div class="carousel-item">
          <img src="http://i.imgur.com/OPGurvr.jpg" class="d-block img-fluid" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <div class="body-text">
              <h2>Welcome to the-Show Restaraunt !</h2>
            </div>
            <br>
            <h3>Feeling Lucky?</h3>
            <br>
              <a class="Button orderButton" href="menu">Order Now !</a>
          </div>
      </div>

      <div class="carousel-item">
          <img src="http://i.imgur.com/vJcIqhg.jpg" class="d-block img-fluid" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <div class="body-text">
              <h2>Welcome to the-Show Restaraunt !</h2>
            </div>
            <br>
            <h3>Starving?</h3>
            <br>
              <a class="Button orderButton" href="menu">Order Now !</a>
          </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#foodCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#foodCarousel" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container" id="mainpage-container">

    <div class="row">

      <div class="col-lg-4">
          <a href="#"><img src="pics/icon1.png" title="icon-name"></a>
          <h2>Story</h2>
          <p>Six years ago, Xiuyu left China to attend college at Oregon State University. Now he owns a business in Corvallis. The Show,
           offers quick service and real Chinese food, such as Chinese crepes and other options.
          </p>
          <p>
          <a class="btn btn-secondary" href="http://www.gazettetimes.com/business/the-show-offers-quick-real-chinese-food/article_07de4fb7-9ddd-5b40-84d8-0ec304bded6b.html" role="button">Read More</a>
          </p>
      </div>

      <div class="col-lg-4">
          <a href="#"><img src="pics/icon3.png" title="icon-name"></a>
          <h2>Location</h2>
          <p>The Show restaraunt locate in the middle of Corvallis and its pretty close to the Oregon State Univeristy. College students can take No.R3 bus to get there.
            1915 NW 9th St. The following text can make three button looks like in the same height.
          </p>
          <p>
          <a class="btn btn-secondary" href="https://www.google.com/maps/place/TheShow/@44.5868144,-123.2576412,17z/data=!3m1!4b1!4m5!3m4!1s0x54c0407f0fe0a021:0xa3a40f59b1f0697a!8m2!3d44.5868144!4d-123.2554525" role="button">Get Direction</a>
          </p>
      </div>

      <div class="col-lg-4">
          <a href="#"><img src="pics/icon2.png" title="icon-name"></a>
          <h2>Food</h2>
          <p>We can offer about over 40 different dishes to satisfy your need. We import ingredients from portland every week. Our cheif has enough credebility and experiences to guarantee each dishes' quality.</p>
          <p>
          <a class="btn btn-secondary" href="menu" role="button">Menu</a>
          </p>
      </div>

    </div>

    <hr class="featurette-divider"></hr>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          <span class="text-muted">Story</span>
        </h2>
        <p class="lead">"Six years ago, Xiuyu left China to attend college at Oregon State University.

Now he owns a business in Corvallis.

The Show, offers quick service and real Chinese food, such as Chinese crepes, tea eggs and other options.

“It’s kind of strange for Panda Express to be the only Chinese quick serve restaurant in town,” Xue said. “The Panda Express food is kind of like American food.”

Other Chinese restaurants in Corvallis are very good, but they’re sit down options, he added.

So far, the most popular options have been sweet and sour pork ribs, braised beef with potatoes and carrots and shredded pork with bell peppers.

The Show also has USB chargers and plug-ins at every table to appeal to busy customers.

“I don’t want to work for other people. I wanted to have my own business when I was very young,” he said."</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="pics/boss.jpg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider"></hr>

    <div class="row featurette">
      <div class="col-md-7 push-md-5">
        <h2 class="featurette-heading">
          <span class="text-muted">Location</span>
        </h2>
        <p class="lead">"The Show restaraunt locate in the middle of Corvallis and its pretty close to the Oregon State Univeristy.It takes about 10 mins for college student to het there. Student also can take No.R3 bus to get there. 1915 NW 9th St. "</p>
      </div>
      <div class="col-md-5 pull-md-7">
        <iframe width="450" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJIaDgD39AwFQRemnwsVkPpKM&zoom=15&key=AIzaSyAqCXZPvC7-TndcHd7nHkMv3aYXAVI8ags" allowfullscreen></iframe>
      </div>
    </div>

    <hr class="featurette-divider"></hr>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          <span class="text-muted">The Food</span>
        </h2>
        <p class="lead">"We can offer about over 40 different dishes to satisfy your need. We import ingredients from portland every week. Our cheif has enough credebility and experiences to guarantee each dishes' quality."</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="pics/H6s.jpg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider"></hr>

    <div class="row featurette" id=about>
      <div class="col-md-7 push-md-5">
        <h2 class="featurette-heading">
          <span class="text-muted">About us</span>
        </h2>
        <p class="lead">"I am really really running out off the idea, forgive me plz :/"</p>
      </div>
      <div class="col-md-5 pull-md-7">
        <img class="featurette-image img-fluid mx-auto" src="pics/about.jpg" data-holder-rendered="true">
      </div>
    </div>

    <hr class="featurette-divider"></hr>

  </div>

</body>
