<head>

  {{>header}}

</head>

<body>

  <div id="foodCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#foodCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#foodCarousel" data-slide-to="1"></li>
      <li data-target="#foodCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <div class="text-center">
          <img src="http://i.imgur.com/WTB3i7F.jpg" class="img-fluid" alt="First slide">
        </div>
        <div class="body-text hidden-xs">
          <div class="col-md-12 text-center">
            <h2>Welcome to the Show</h1>
            <br>
            <h3>Starving?</h2>
            <br>
            <div class="">
              <a class="orderButton orderButton-1" href="menu">Order Now!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="text-center">
          <img src="http://i.imgur.com/OPGurvr.jpg" class="img-fluid" alt="Second slide">
        </div>
        <div class="body-text hidden-xs">
          <div class="col-md-12 text-center">
            <h2>Welcome to the Show</h1>
            <br>
            <h3>Starving?</h2>
            <br>
            <div class="">
              <a class="orderButton orderButton-1" href="menu">Order Now!</a>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="text-center">
          <img src="http://i.imgur.com/YoTsPqJ.jpg" class="rounded" alt="Third slide">
        </div>
        <div class="body-text hidden-xs">
          <div class="col-md-12 text-center">
            <h2>Welcome to the Show</h1>
            <br>
            <h3>Starving?</h2>
            <br>
            <div class="">
              <a class="orderButton orderButton-1" href="menu">Order Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#foodCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#foodCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</body>
