<body>

  <div class="album text-muted">
    <div class="container" id="menu-container">

      <div class="row">
          {{#each dishes}}
            {{> menuCard}}
          {{/each}}
      </div>

      </div>
    </div>
  </div>

</body>
