{{> header}}

<main class='menu-page'>

  <div class='title-container'>
    <h1>Menu</h1>
  </div>

  <div class='menu-card-container'>

    {{#each dishes}}
      {{> menuCard}}
    {{/each}}

  </div>

</main>
