{{> header}}

<main class='menu-page'>

  <div class='menu-container'>
    <div class='title-container'>
      <h1>Menu</h1>
    </div>

    <div class='menu-card-container'>

      {{#each dishes}}
        {{> menuCard}}
      {{/each}}

    </div>

    <div class='cart-container'>
      <h2>check out</h2>
    </div>

  </div>



</main>
