body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  background-color: #F7F3E2;
}

a {
  text-decoration: none;
}

.navbar {
  margin: 0;
  background-color: rgb(40, 44, 52);
  font-size: 20px;
  height: 50px;
}

.navlist {
  margin: 0 0 0 20px;
  padding-right: 100px;
}

.navitem {
  display: inline-block;
  float: right;
  margin: 13px;
  margin-right: 30px;
}

a {
  color: white;
}

.menu-page {
  margin: 0px 10%;
  border: 5px solid rgb(0, 120, 173);
  flex-wrap: wrap;
}

.menu-container {
  width: 100%;
  display: inline-block;
}

.title-container {
  padding-left: 30px;
  width: 72%;
  float: left;
}

.menu-card-container {
  width: 75%;
  margin-right: 0px;
  float: left;

}

.menu-card {
  max-width: 274px;
  flex: 1 20%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  margin: 5px;
  display: inline-block;
}

.menu-image {
  height: 200px;
  width: 250px;
}

.cart-container {
  width: 23%;
  /*background-color: white;*/
  border: 3px solid #ccc;
  display: inline-block;
  float: right;
  margin: 5px;
  /*height: 70%;*/
}

.order-head {
  text-align: center;
  background-color: rgb(40, 44, 52);
  height: 50px;
  font-size: 20px;
  color: white;
  margin-top: 0px;
  margin-bottom: 3px;
}

h2 {
  margin-top: 0;
  padding-top: 5px;
}

.order-body {
  text-align: center;
}

#check-out-botton {
  width: 200px;
  height: 50px;
  background-color: red;
  color: white;
  border: 3px solid white;
  margin-left: 28px;
  margin-top: 5px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 50px;
  padding-top: 3px;
}

h3{
  text-align: left;
}

.check-out-summary {
  background-color: rgb(229, 237, 243); 
}
