body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.navbar {
  margin: 0;
  background-color: rgb(40, 44, 52);
  font-size: 20px;
  height: 70px;
}

.navlist {
  margin: 0 0 0 20px;
  padding-top: 9px;
  padding-right: 100px;
}

.navitem {
  display: inline-block;
  float: right;
  margin: 13px;
  margin-right: 30px;
}

a {
  color: white;
}

.menu-page {
  margin: 0px 10%;
  border: 5px solid rgb(0, 120, 173);
}
